{% extends "layout.twig" %}
{% block content %}

<div class="bk-default">

	<nav id="nav-bar">
		<div class="nav-container">
			{{widget('companyname', 'nav-bar-companyname', {"business":"profile"})|raw}}
			{{widget('extendednavigation', 'header-navigation', {"align":"right"})|raw}}
		</div>
	</nav>
	<div class="canvas">
		<div class="main wrapper">
			<a name="zone-content"></a>
			{{zone('main')|raw}}
		</div><!--end main-->
	</div><!--end canvas-->

	<div class="footer">
		<div class="footer-left">
			{{widget('profile', 'copyright', { 'profileType':'copyright'})|raw}}
		</div>
		<div class="footer-right">
			{{widget('profile', 'socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
		</div>
	</div>

</div>

{% endblock %}